<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <servlet>
    <servlet-name>show_messages</servlet-name>
    <servlet-class>com.fincons.message_viewer.net.Message</servlet-class>
  </servlet>
  <listener>
    <listener-class>com.fincons.message_viewer.net.Listener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>show_messages</servlet-name>
    <url-pattern>/show_messages</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>thing_id</param-name>
    <param-value>UKaFaQraeXswtKwwwH8QMHrd</param-value>
  </context-param>  
  <context-param>
    <param-name>mqtt_conf_dec_subscriber</param-name>
    <param-value>C:\SEDEM_Browser_MQTT\config\conf_dec_sub.properties</param-value>
  </context-param>
  <context-param>
    <param-name>mqtt_conf_enc_subscriber</param-name>
    <param-value>C:\SEDEM_Browser_MQTT\config\conf_enc_sub.properties</param-value>
  </context-param>  
  <context-param>
    <param-name>log4j.properties</param-name>
    <param-value>C:\SEDEM_Browser_MQTT\config\log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>SocketServerEncrypt</param-name>
    <param-value>wss://localhost:8080/SEDEM_Browser_MQTT/encryptedMessage</param-value>
  </context-param>
  <context-param>
    <param-name>SocketServerDecrypt</param-name>
    <param-value>wss://localhost:8080/SEDEM_Browser_MQTT/decryptedMessage</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>show_messages</welcome-file>
  </welcome-file-list>
</web-app>